.App {
  text-align: center;
}

.swap{
  cursor: pointer;
}
body{
  background:rgb(65, 180, 42);
}
.card{
  background: rgb(199, 18, 18);
}
.col-lg-2{
  color:white;
}
.container{
  position: relative;
  top:160px;
}